<!DOCTYPE html>
<html>
	<!-- FuelUX attribute -->
	<head>
		<meta charset="utf-8">
		<title>Bruggleifur</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link type="text/css" href="static/external/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="static/external/css-toggle-switch/toggle-switch.css" rel="stylesheet">
		<link type="text/css" href="static/raspi.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<style>
			ul#ToggleLines {
			    padding: 0;
			}

			ul#ToggleLines li {
			    display: inline;
			}

			ul#ToggleLines li a {
			    background-color: black;
			    color: white;
			    padding: 10px 20px;
			    text-decoration: none;
			    border-radius: 4px 4px 0 0;
			}

			ul#ToggleLines li a:hover {
			    background-color: orange;
			}
		</style>
	</head>
	<body>

		<div class="container">

			<div class="page-header">
				<h2>Stjórnborð gerjunar</h2>
			</div>

			<div class="row">
				<div class="col-xs-5">
					<table id="dataTable" class="table table-bordered table-condensed table-responsive style="border-collapse:collapse;"">
						<thead>
							<tr>
								<th class="col-xs-4">Nemi</th>
								<th class="col-xs-4">Hiti</th>
								<th class="col-xs-4">Stýring</th>

							</tr>
						</thead>
						<tbody>
							<tr id="TblRow1" data-toggle="collapse" data-target="#extra_data_info1" class="selectRow row-highlight accordion-toggle">
								<td align="center"><h5>Innri</h5></td>
								<td align="center"><h5><span id="tempResponseInner">60</span><span id="tempResponseUnits1">&degC</span></h5></td>
								<td align="center"><h5><span id="dutycycleResponse">0</span><span id="dutyCycleUnits1">%</span></h5></td>
							</tr>
							<tr id="TblRow2" data-toggle="collapse" data-target="#extra_data_info2" class="selectRow accordion-toggle">
								<td align="center"><h5>Ytri</h5></td>
								<td align="center"><h5><span id="tempResponseOuter"></span><span id="tempResponseUnits2">&degC</span></h5></td>
							</tr>
							<tr id="TblRow3" data-toggle="collapse" data-target="#extra_data_info3" class="selectRow accordion-toggle">
								<td align="center"><h5>Umhverfi</h5></td>
								<td align="center"><h5><span id="tempResponseEnvir"></span><span id="tempResponseUnits3">&degC</span></h5></td>
							</tr>
						</tbody>
					</table>

					<div class="voffset20"></div>

					<fieldset class="border">

						<legend class="border">
							PID Control Panel
						</legend>

						<div class="voffset10"></div>

						<form id="controlPanelForm" method="post" class="form-horizontal" role="form">

							<div class="row">
								<div class="form-group">
									<div class="btn-group col-sm-offset-4" data-toggle="buttons">
										
										<label id="modeBtn_auto" class="modeBtn btn btn-primary">
											<input type="radio" name="mode" id="mode_auto" value="auto"> Auto </label>
										<label id="modeBtn_manual" class="modeBtn btn btn-primary">
											<input type="radio" name="mode" id="mode_manual" value="manual"> Manual </label>
										<label id="modeBtn_off" class="modeBtn btn btn-primary active">
											<input type="radio" name="mode" id="mode_off" value="off" checked> Off </label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label for="setpoint" class="col-xs-4 control-label">Set Point:</label>
									<div class="input-group col-xs-4">
										<input type="number" step="any" name="setpoint" class="form-control" id="setpoint" value={{set_point}}>
										<span id="setpointInputUnits" class="input-group-addon">&degC</span>
									</div>
									<div class="col-xs-4"></div>
								</div>
								<div class="form-group">
									<label for="deadband" class="col-xs-4 control-label">Deadband:</label>
									<div class="input-group col-xs-4">
										<input type="number" step="any" name="deadband" class="form-control" id="deadband" value={{dead_band}}>
										<span id="setpointInputUnits" class="input-group-addon">&degC</span>
									</div>
									<div class="col-xs-4"></div>
								</div>
								<div class="form-group">
									<label for="dutycycle" class="col-xs-4 control-label">Duty Cycle:</label>
									<div class="input-group col-xs-4">
										<input name="dutycycle" id="dutycycle" type="number" step="any" class="form-control" value={{duty_cycle}}>
										<span class="input-group-addon">%</span>
									</div>
									<div class="col-xs-4"></div>
								</div>
								<div class="form-group">
									<label for="cycletime" class="col-xs-4 control-label">Cycle Time:</label>
									<div class="input-group col-xs-4">
										<input name="cycletime" type="number" step="any" class="form-control" id="cycletime" value={{cycle_time}}>
										<span class="input-group-addon">sec</span>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="form-inline">
									<label class="col-xs-2">Hitun</label>
									<div class="form-group col-xs-3">
										<label for="kcH_param" class="control-label">Kc:</label>
										<div class="input-group">
											<input name="kH" type="number" step="any" class="form-control" id="kcH_param" value={{kH_param}}>
										</div>
									</div>
									<div class="form-group col-xs-3">
										<label for="tiH_param" class="control-label">Ti:</label>
										<div class="input-group">
											<input name="iH" type="number" step="any" class="form-control" id="tiH_param" value={{iH_param}}>
										</div>
									</div>
									<div class="form-group col-xs-3">
										<label for="tdH_param" class="control-label">Td:</label>
										<div class="input-group">
											<input name="dH" type="number" step="any" class="form-control " id="tdH_param" value={{dH_param}}>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-inline">
									<label class="col-xs-2">Kæling</label>
									<div class="form-group col-xs-3">
										<label for="kcC_param" class="control-label">Kc:</label>
										<div class="input-group">
											<input name="kC" type="number" step="any" class="form-control" id="kcC_param" value={{kC_param}}>
										</div>
									</div>
									<div class="form-group col-xs-3">
										<label for="tiC_param" class="control-label">Ti:</label>
										<div class="input-group">
											<input name="iC" type="number" step="any" class="form-control" id="tiC_param" value={{iC_param}}>
										</div>
									</div>
									<div class="form-group col-xs-3">
										<label for="tdC_param" class="control-label">Td:</label>
										<div class="input-group">
											<input name="dC" type="number" step="any" class="form-control " id="tdC_param" value={{dC_param}}>
										</div>
									</div>

								</div>
							</div>

							<div class="voffset20"></div>
							<div class="row">
								<div class="form-group">
									<div class="col-xs-offset-3">
										<button id = "sendcommand" type="submit" class="btn btn-info">
											Send Command
										</button>
									</div>
								</div>
							</div>

						</form>
					</fieldset>

				</div>
				<div class="col-xs-7 hidden-xs">
					<!--fieldset class="border"-->

						<!--legend class="border">
							Line Plots
						</legend-->
						<div class="row">
							<div class="ControlResponse" id="tempheatplots">
								<div class="tempdata">

									<p class="plottitle">
										Hitastig
									</p>

									<ul id="ToggleLines">
									    <li><input id="Chbx1" type="checkbox" checked="checked" /> Innri   </li>
									    <li><input id="Chbx2" type="checkbox" checked="checked" /> I setP   </li>
									    <li><input id="Chbx3" type="checkbox" checked="checked" /> Ytri   </li>
									    <li><input id="Chbx4" type="checkbox" checked="checked" /> Y setP   </li>
									    <li><input id="Chbx5" type="checkbox" checked="checked" /> Umhverfi   </li>
									</ul>

									<div id="tempplot" align=left  style="width:1000px;height:400px;"></div>
									<p class="plottitle">
										Stýriálag
									</p>
									<div id="heatplot" align=left  style="width:1000px;height:250px;"></div>
									<br/>
									Window Size:
									<input id="windowSizeText" type="text" name="windowSize"  maxlength = "8" size ="8" value=1000000 style="text-align: right;"/>
									<br>

									<button class="btn btn-default" id = "stop">
										Stop Capture
									</button>
									<button class="btn btn-default" id = "restart">
										Restart Capture
									</button>
									<!-- <button id = "calcpid">Calculate PID</button> -->

								</div>
							</div>
					<!--/fieldset-->
				</div>
			</div>
		</div>

		<!-- row -->

		</div><!-- /.container -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="static/external/jquery-2.0.3/jquery-2.0.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="static/external/bootstrap-3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.js"></script>
		<script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.selection.js"></script>
		<script type="text/javascript" src="static/external/flot-0.8.2/jquery.flot.time.js"></script>
		<script type="text/javascript" src="static/raspiferm.js"></script>
	</body>
</html>
